@page "/MachineAsset"
@using MachineAssetServer.Services;
@using MachineAssetServer.Pages;
@inject IMachineAsset _objmachineasset

<PageTitle>MachineAsset UI</PageTitle>
<h1> Machine Asset UI </h1>

<div >
    <input type="text" placeholder="Asset name" @bind-value="@Assetname"/>
    <button @onclick="GetMachineName">Get Machine Name</button>
   </div>

   <table>
       <tbody>
           @foreach (var item in Data)
            {
                <tr>
                    <td>@item</td>
                    
                </tr>
            }
       </tbody>
   </table>
@code {
    public string? Assetname;

    private async Task GetMachineName()
    {
        var Data = await _objmachineasset.GetListOfMachines(Assetname);
    }
}
