@page "/"

<html>
    <body>
        <table style="border:1px solid black;background-color:lightcyan">
        <tr style="border:1px solid black">
                <td  colspan="2">
                <h3 style="text-align:center">Machine Asset UI</h3>
                </td>
                </tr>
                <tr>
                    <td>
                <input placeholder="enter" name="txtasset"/>
                    </td>
                    <td>
                        <button >
                            <span> Assetname</span>
                        </button>
                    </td>
                </tr>
              <tr>
                    <td>
                <input placeholder="enter" name="txtmachine"/>
                    </td>
                    <td>
                        <button>
                            <span>Machinename</span>
                        </button>
                    </td>
                </tr>
             <tr>
                 <td>
                <button>
                    <span>Latest Series Machine</span>
                </button>
                 </td>
             </tr>
        </table>
    </body>
</html>


@code {

}
